numpy==1.26.4
matplotlib==3.9.2
scikit-learn==1.4.2
pandas==2.2.2
catboost==1.2.5
optuna==4.0.0
optuna-integration[catboost]==4.0.0


fairgbm==0.9.14
fairlearn==0.10.0
folktables==0.0.12
error-parity==0.3.11
